.home-layout {
    position: relative;
    height: 100%;

    > header {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;

        > .nav-area {
            > nav {
                display: inline-block;
                height: 60px;
                vertical-align: middle;
            }

            .logo {
                float: left;
                line-height: 60px;
            }

            .menu {
                float: right;
            }
        }

        .nav-logo {
            float: left;
            width: 136px;
            height: 40px;
        }

        .nav-menu {
            float: right;
            height: 64px;
        }
    }

    > main {
        .big-data {
            height: 612px;
        }
    }

    > footer {
        //
    }
}

@media only screen and (min-width: 1200px) {
    .home-layout {
        > header > .nav-area {
            width: 1127px;
            margin-left: auto;
            margin-right: auto;
        }

        > main > section {
            width: 1127px;
            margin: 0 auto;
        }

        > footer > section {
            width: 1127px;
            margin: 0 auto;
        }
    }
}