<div class="home-layout">
  <header>
    <div class="nav-area">
      <nav class="logo">
        <a class="skip {{logoHover}}" href="/"></a>
      </nav>
      <nav class="menu">Menu List</nav>
    </div>
  </header>
  <main>
    <!-- 大数据 -->
    <section class="big-data">
      <div class="container">
        <div class="title">教育大数据</div>
        <div class="sub-title">让分数不再成为成长的唯一标准</div>
        <img class="title-img1" src="/assets/img/title-img.png" />
      </div>
    </section>
    <!-- 产品列表 -->
    <section class="product-list">
      <div class="container">
        <div class="title">我&nbsp;们&nbsp;的&nbsp;产&nbsp;品</div>
        <div class="sub-title">从课前-课中-课后，由学情分析到家校互联，通过教育大数据打造综合评价体系</div>
        <ul class="list">
          <li class="product-item">
            <nz-card [nzBordered]=false class="cjcms">
              <img src="/assets/img/cjcms-product.png" />
              <p>e采备课系统</p>
            </nz-card>
          </li>
          <li class="product-item">
            <nz-card [nzBordered]=false class="cjwisdom">
              <img src="/assets/img/cjwisdom-product.png">
              <p>e采智慧课堂</p>
            </nz-card>
          </li>
          <li class="product-item">
            <nz-card [nzBordered]=false class="cjhms">
              <img src="/assets/img/cjhms-product.png">
              <p>e采课业系统</p>
            </nz-card>
          </li>
          <li class="product-item">
            <nz-card [nzBordered]=false class="cjtlis">
              <img src="/assets/img/cjtlis-product.png">
              <p>e采学情系统</p>
            </nz-card>
          </li>
          <li class="product-item">
            <nz-card [nzBordered]=false class="cjhsc">
              <img src="/assets/img/cjhsc-product.png">
              <p>e家e校</p>
            </nz-card>
          </li>
        </ul>
      </div>
    </section>
    <!-- 备课特点 -->
    <section class="cjcms-feature">
      <div class="container">备课系统</div>
    </section>
    <!-- 智慧课堂特点(IPAD) -->
    <section class="cjwisdom-feature">
      <div class="container">智慧课堂</div>
    </section>
    <!-- 课业特点 -->
    <section class="cjhms-feature">
      <div class="container">课业系统</div>
    </section>
    <!-- 学情特点 -->
    <section class="cjtlis-feature">
      <div class="container">学情系统</div>
    </section>
    <!-- E家E校特点 -->
    <section class="cjhsc-feature">
      <div class="container">e家e校</div>
    </section>
  </main>
  <footer>
    <section class="container">footer</section>
  </footer>
</div>