<div class="home-layout">
  <header>
    <div class="nav-area">
      <nav class="logo">LOGO</nav>
      <nav class="menu">Menu List</nav>
    </div>
  </header>
  <main>
    <section class="big-data">大数据</section>
    <section class="product-list">产品列表</section>
    <section class="cjcms-feature">备课系统</section>
    <section class="cjwisdom-feature">智慧课堂</section>
    <section class="cjhms-feature">课业系统</section>
    <section class="cjtlis-feature">学情系统</section>
    <section class="cjhsc-feature">e家e校</section>
  </main>
  <footer>
    <section>footer</section>
  </footer>
</div>